<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                
                    <resource id="Infobit_CancelOrder::cancelorder" title="Cancel Order" sortOrder="10" >
                        <resource id="Infobit_CancelOrder::reasons" title="Reason" sortOrder="40">
                            <resource id="Infobit_CancelOrder::reason_index" title="Manage Reason" sortOrder="10" />
                        </resource>
                    </resource>
               
            </resource>
        </resources>
    </acl>
</config>
